DB_USER=usuario
DB_PASS=password
DB_SERVER=localhost
DB_NAME=DBIncidencias
JWT_SECRET=super_secret_key_12345
PORT=3001
TELEGRAM_BOT_TOKEN=123456789:AABBCCDDEEFFGGHHIIJJKKLLMMNNOOPPQQRR
INTERNAL_API_KEY=tu_clave_secreta_aqui

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=soporte@tuempresa.com
SMTP_PASS=SuperClave123
# Descomentar si hay problemas de certificado con el servidor de correo interno:
# SMTP_TLS_REJECT_UNAUTHORIZED=false
